root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{json,yaml,yml,html,eslintrc,stylelintrc,prettierrc, md}]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = space
indent_size = 2
