.modal_container_close {
  display: none;
}

.modal_container_open {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgb(0 0 0 / 70%);
}

.modal_window {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 400px;
  padding: 50px 70px;

  background: var(--bg-primary);
  border-radius: var(--border-radius-xs);
}
