.modal_container_close {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  visibility: hidden;
  opacity: 0;

  transition: all 400ms ease;
}

.modal_container_open {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  visibility: visible;
  opacity: 1;
  background-color: rgb(0 0 0 / 70%);

  transition: all 400ms ease;
}

.modal_window {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  padding: 50px 70px;

  background: var(--bg-primary);
  border-radius: var(--border-radius-xs);
}
