.spinner {
  --pulse-color: #868686;

  display: flex;
  align-items: center;
  justify-content: center;
  animation: ios-loading 0.6s;

  &_default {
    --pulse-color: #868686;
  }

  &_white {
    --pulse-color: #fff;
  }

  svg {
    fill: var(--pulse-color);

    path:nth-of-type(1) {
      animation: pulse 1s infinite linear;
    }

    path:nth-of-type(2) {
      animation: pulse 1s -0.083s infinite linear;
    }

    path:nth-of-type(3) {
      animation: pulse 1s -0.166s infinite linear;
    }

    path:nth-of-type(4) {
      animation: pulse 1s -0.249s infinite linear;
    }

    path:nth-of-type(5) {
      animation: pulse 1s -0.332s infinite linear;
    }

    path:nth-of-type(6) {
      animation: pulse 1s -0.415s infinite linear;
    }

    path:nth-of-type(7) {
      animation: pulse 1s -0.498s infinite linear;
    }

    path:nth-of-type(8) {
      animation: pulse 1s -0.581s infinite linear;
    }

    path:nth-of-type(9) {
      animation: pulse 1s -0.664s infinite linear;
    }

    path:nth-of-type(10) {
      animation: pulse 1s -0.747s infinite linear;
    }

    path:nth-of-type(11) {
      animation: pulse 1s -0.83s infinite linear;
    }

    path:nth-of-type(12) {
      animation: pulse 1s -0.913s infinite linear;
    }
  }
}

@keyframes pulse {
  50% {
    /* fill: #fff; */
    fill: var(--pulse-color);

    /* fill: #868686; */
  }

  100% {
    fill: rgb(134 134 134 / 40%);
  }
}

@keyframes ios-loading {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
