{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "plugins": ["simple-import-sort", "prettier"],
  "rules": {
    "@typescript-eslint/semi": ["off"],
    "@typescript-eslint/indent": ["off"],
    "react/jsx-indent": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react/jsx-indent-props": ["off"],
    "react/prop-types": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/require-default-props": [
      "error",
      {
        "forbidDefaultForRequired": true,
        "functions": "defaultArguments"
      }
    ],
    "no-tabs": ["off"],
    "no-restricted-exports": ["off"],
    "quote-props": ["off"],
    "import/extensions": ["off"],
    "no-param-reassign": ["off"],
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react$"], // React
          ["^\\u0000"], // Imports with side-effects, like `import 'something.css'` or `import 'something.js'`
          ["^@?\\w"], // Packages
          ["^@/"], // Internal packages
          ["^\\./.(?!.*\\.css$)", "^\\./?$"], // Sibling imports
          ["^\\.\\./.(?!.*\\.css$)", "^\\.\\./?$"], // Parent imports
          ["^(?!\\u0000).+\\.css$"], // CSS imports
          ["^"] // Other imports
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "import/order": ["off"],
    "@typescript-eslint/naming-convention": ["off"],
    "import/prefer-default-export": ["off"],
    "no-plusplus": ["off"]
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./apps/client/tsconfig.json"
  },
  "ignorePatterns": ["public", "vite.config.ts", "postcss.config.js"]
}
