.root {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  text-decoration: none;

  border: none;
  border-radius: var(--border-radius-xs);

  &__content {
    display: flex;
    gap: 0.75--gap;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      color: var(--text-color);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &:focus-visible {
    @mixin outline;

    border-radius: var(--border-radius-xs);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.25;
  }
}

.default {
  color: var(--text-color);
  background-color: var(--bg-secondary);
}

.primary {
  color: var(--text-color-accent);
  background-color: var(--text-color);
}

.secondary {
  color: var(--bg-primary);
  background-color: var(--text-color);

  svg {
    color: var(--bg-primary);
  }
}

.small {
  padding: 12px 16px;
}

.medium {
  padding: 16px 32px;
}

.large {
  padding: 24px 32px;
}

.icon {
  padding: 12px;
}
