.root {
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  border: none;
  border-radius: var(--border-radius-xs);

  &__content {
    display: flex;
    gap: 0.75--gap;
    align-items: center;
    justify-content: center;

    svg {
      width: 16px;
      height: 16px;
      color: var(--text-color);
    }
  }

  &__text {
    text-align: center;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }

  &:focus-visible {
    @mixin outline;

    border-radius: var(--border-radius-xl);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.25;
  }
}

.default {
  color: var(--text-color);
  background-color: var(--bg-secondary);
}

.primary {
  color: var(--text-color);
  background-color: var(--accent-color);
}

.secondary {
  color: var(--bg-primary);
  background-color: var(--text-color);

  svg {
    color: var(--bg-primary);
  }
}

.small {
  padding: 5px 10px;
}

.medium {
  padding: 5px 10px;

}

.large {
  padding: 5px 10px;

}
