.instruction {
  font-size: medium;
  font-weight: 600;
  line-height: 2;
  color: antiquewhite;
}

.list {
  margin-top: 1.5em;
  line-height: normal;
  text-align: left;

  li {
    margin-bottom: 16px;
    font-size: 20px;
  }
}

.controls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
