.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(100vh - var(--header-height));

  font-family: sans-serif;
  text-align: center;

  &:focus {
    outline: none;
  }
}

.maze {
  border-collapse: collapse;
  transition: all;
}

.wall {
  &_top {
    border-top: 2px solid black;
  }

  &_left {
    border-left: 2px solid black;
  }

  &_right {
    border-right: 2px solid black;
  }

  &_bottom {
    border-bottom: 2px solid black;
  }
}

.destination {
  div::before {
    content: '🧒';
  }
}

.position {
  div::before {
    content: '👫';
  }
}

.sol {
  div {
    display: inline-block;

    width: 50%;
    height: 50%;

    background: peachpuff;
    border-radius: 50%;
  }
}

.info {
  width: 100%;
  margin-top: 20px;
  padding: 3px;

  font-size: 20px;

  background: cornsilk;

  p {
    color: forestgreen;
    text-transform: uppercase;
  }
}
