@import url('./colors.css');
@import url('./variables.css');

:root {
  font-family: 'Helvetica Neue', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--bg-primary);
}

.topWall {
  border-top: 2px solid black;
}

.rightWall {
  border-right: 2px solid black;
}

.bottomWall {
  border-bottom: 2px solid black;
}

.leftWall {
  border-left: 2px solid black;
}

.sol {
  div {
    display: inline-block;

    width: 50%;
    height: 50%;

    background: peachpuff;
    border-radius: 50%;
  }
}

.currentPosition {
  div {
    display: block;

    width: 100%;
    height: 100%;

    background: salmon;
    border-radius: 50%;
  }
}

.destination {
  div {
    display: block;

    width: 100%;
    height: 100%;

    background: springgreen;
    border-radius: 50%;
  }
}

#maze {
  border-collapse: collapse;
  margin-top: 15px;

  td {
    width: 20px;
    height: 20px;
  }
}

.info {
  width: 100%;
  margin-top: 20px;
  padding: 3px;

  font-size: 20px;

  background: cornsilk;

  p {
    color: forestgreen;
    text-transform: uppercase;
  }
}
