:root {
  /* Это просто пример переменных, тут будет писать все наши переменные для цветов */
  --text-color: #fff;
  --text-color-accent: #282828;
  --accent-color: peachpuff;
  --bg-primary: #6867af;
  --bg-secondary: #4a4980;
}
